:root {
  --primary-color: #3282b8;
  --dark-color: #1b262c;
  --light-color: #bbe1fa;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 10px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9rem;
  background: var(--light-color);
  color: var(--dark-color);
}


.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.small {
  font-size: 0.8rem;
  color: #aaa;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1rem;
}

.btn:focus {
  outline: none;
}

.btn-success {
  color: #fff;
  background-color: var(--success-color);
}

.btn-danger {
  color: #fff;
  background-color: var(--danger-color);
}

.btn:hover {
  opacity: 0.8;
}

.logo {
  background-color: #fff;
  padding: 0.6rem;
  border-radius: 50%;
  color: var(--success-color);
  font-size: 1.8rem;
}

.text-large {
  font-size: 3.5rem;
  color: #333;
}

.text-medium {
  font-size: 2rem;
  color: #333;
}

.text-center {
  text-align: center;
}

.text-success {
  color: var(--success-color);
}

.lead {
  font-size: 1.5rem;
  margin: 1rem 0;
}

input, textarea {
  border-radius: 2px;
}

.form-group {
  margin: 1rem auto;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #333;
}

.form-group label, .form-group input, .form-group textarea {
  display: block;
  width: 100%;
  font-weight: 600;
}

.card {
  padding: 2rem;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px var(--dark-color);
  margin: 20px 0;
  border-radius: 10px;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin: 2rem 0;
}

.line-small {
  width: 100px;
  height: 3px;
  background-color: var(--dark-color);
  margin: 4rem auto;
}

.bg-white {
  background: #fff;
}

/* Landing Page */
.navbar {
  padding: 0.6rem;
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.9;
  border-bottom: 4px solid var(--success-color);
}

.app {
  color: var(--success-color);
}

.navbar > a {
  font-size: 1.8rem;
}

.navbar > a span:not(:last-child) {
  margin-left: 0.5rem;
}

.navbar > a span:nth-of-type(1) {
  color: var(--dark-color);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 0.5rem;
}

.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('../img/landing.png') no-repeat center center/cover;
}

.landing-heading {
  padding: 1rem;
  color: #fbe6d4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.landing-inner {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-button {
  font-size: 2rem;
  background-color: var(--dark-color);
  color: #fbe6d4;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Create Recipe Page */
.inputs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

.inputs-left > div {
  margin-bottom: 1.4rem;
}

.form-group input, .form-group textarea {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form-group-flex {
  display: flex;
  justify-content: space-between;
}

.form-group-flex > div {
  width: 40%;
}

.file-upload-label {
  position: relative;
  border: 3px dashed #ccc;
  width: 100%;
  height:250px;
  cursor: pointer;
  background: url('https://images.media-allrecipes.com/ar-images/icons/pic-icon-gray.svg') no-repeat center center;
  background-size: 80px 80px;
  margin-bottom: 1rem;
  background-color: #fff;
}

.file-upload-label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  font-size: 1.5rem;
  color: #ccc;
  width: 100%;
  text-align: center;
}

.create-recipe-form .btn {
  width: 100px;
}

#file-upload {
  display: none;
}

/* Register page */
.register-form .form-group {
  margin: 1.8rem 0;
}

/* Recipes page */
.recipe {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.recipe-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  align-self: center;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-to-favorite {
  background: #ffc107;
  color: #fff;
  margin-left: 5px;
}

.time-and-portions {
  display: inline-block
}

.recipe-description {
  text-align: justify;
}

.recipe-portions {
  margin-right: 1rem;
}

.recipe-portions, .recipe-time {
  display: inline-block;
}

.recipe-portions i, .recipe-time i {
  background-color: var(--success-color);
  color: #fff;
  padding: 0.4rem;
  border-radius: 50%;
  font-weight: 700;
  margin-right: 4px;
}

.recipe .number {
  font-weight: 700;
}

.recipe .buttons {
  display: flex;
}

@media(max-width: 1200px) {
  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 800px) {
  .recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recipe {
    grid-template-columns: 1fr;
    max-width: 350px;
  }

  .recipe-img {
    justify-self: center;
  }

  .recipe .head h2, .recipe .author {
    text-align: center;
  }

  .recipe div {
    text-align: center;
  }

  .recipe .buttons {
    justify-content: center;
  }
}

@media(max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .navbar a {
    margin-bottom: 0.5rem;
  }

  .text-large {
    font-size: 3rem;
  }

  .text-medium {
    font-size: 2rem;
  }

  .inputs {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .form-group-flex {
    flex-direction: column;
  }

  .form-group-flex > div {
    width: 100%;
  }

  .form-group-flex div:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .inputs-right {
    grid-row: 1;
  }

  .create-recipe-form .btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .container {
    margin-top: 8rem;
  }

  .lead {
    margin: 1rem 0 0 0;
  }
}

@media(max-width: 500px) {
  .container {
    background: #fff;
  }
  
  .landing-heading {
    font-size: 2.5rem;
    
  }

  .landing-button {
    font-size: 1.25rem;
  }

  .text-large {
    font-size: 2rem;
  }

  .text-medium {
    font-size: 1.5rem;
  }

  .register-form .form-group {
    margin: 0.8rem 0;
  }

  .block-on-mobile {
    width: 100%;
    display: block;
    text-align: center;
  }  

  .recipe .buttons {
    flex-direction: column
  }

  .recipe .likes-and-dislikes {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
  }

  .recipe .likes-and-dislikes button {
    width: 48%;
  }

  .recipe .add-to-favorite {
    width: 100%;
    margin-left: 0;
  }
}


@media(max-width: 300px) {
  .landing-heading {
    font-size: 2rem;
    
  }

  .landing-button {
    font-size: 1rem;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar ul li {
    display: block;
    margin: 0;
  }

  .navbar ul li a {
    width: 100%;
    text-align: center;
  }

  .container {
    margin-top: 14rem;
  }

  .file-upload-label {
    height: 200px;
  }

  .lead {
    font-size: 1.3rem;
  }

  .block-on-mobile {
    width: 100%;
    display: block;
    text-align: center;
  }

  .recipe-img {
    width: 150px;
    height: 150px;
  }

  .recipe-portions {
    margin-right: 0;
  }

  .recipe div:not(:last-child) {
    text-align: left;
  }

  .recipe-portions {
    margin-bottom: 10px;
  }

  .recipe-description {
    text-align: center;
  }

}

@media(max-height: 590px) {
  .navbar {
    padding: 0.3rem;
  }

  .landing-heading {
    margin-top: 6.5rem;
    margin-bottom: 0;
  }
}